/* Counter */
* {
  box-sizing: border-box;
}
#counter {
  width: 200px;
  height: 200px;
  margin: 4vh auto;
  border: 3px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-line button {
  border: none;
  border: 1px solid #000;
  height: 35px;
  outline: none;
}
.first-line button, .first-line p{
  display: inline-block;
}
.first-line {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
button {
  width: 40px
}


.result {
  width: 40px;
  text-align: center;
  border: 1px solid #000;
  height: 35px;
}
.second-line button {
  width: 150px
}